html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  font-family: monospace;
}

.game-object {
  position: absolute;
  width: 64px;
  height: 64px;
}

.game-object__player-tank {
  background: url("../img/player-tank.png");
  background-size: contain;
}

.game-object__enemy-tank {
  background: url("../img/enemy-tank.png");
  background-size: contain;
}

.game-object__wall {
  background: url("../img/wall.png");
  background-size: contain;
}
.game-object__Big-wall {
  background: url("../img/BigWall.png") !important;
  background-size: contain !important;
}
.game-object__bullet {
  width: 5px;
  height: 5px;
  position: absolute;
  border-radius: 50%;
  background-color: white;
}
main {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}
#game-field {
  flex: 1;
  min-width: 832px;
  width: 832px;
}
#game-map {
  width: 960px;
  height: 1024px;
  background: #111;
  position: relative;
}
#legend {
  flex: 1 30%;
  margin-left: 135px;
}

.legend-list {
  padding: 0;
}
.legend-item {
  position: relative;
  padding-left: 70px;
  margin-bottom: 10px;
  display: block;
  height: 64px;
  line-height: 14px;
}
.legend-item .game-object {
  position: absolute;
  top: 0;
  left: 0;
}

.hit {
  opacity: 0.75;
}
.hardHit {
  opacity: 0.25 !important;
}
.endGame {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  transform: translateX(-50%);
  color: white;
  text-align: center;
}
